table {
    
    width: 100%;
    margin-top: 1rem;



th,
td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th,
td {
    padding: 0.6rem;
    text-align: center;
}

thead {
    background-color: #eee;
}


}