header {
    background-color: #5b3a29;
    color: #fff;
    padding: 1.5rem 2rem;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #f2e8dc;
            text-decoration: none;
            margin-left: 1rem;
            font-size: 1rem;
        }
    }

    h1 {
        text-align: center;
        margin: 1rem 0;
        font-size: 2.2rem;
        letter-spacing: 1px;
    }

}


nav {
    margin-top: 1rem;

    div {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        padding: 0.4rem 0.8rem;
        border-radius: 4px;

    }

    a:hover {
        background-color: #7a523c;
    }

}