@use '_variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Georgia", "Times New Roman", serif;
    background-color: #f4f1ec;
    color: #2c2c2c;
    line-height: 1.6;
}






